body{
  background-image: url(https://i.pinimg.com/originals/75/f5/e3/75f5e3ce35d9ad5b444178426f7dadd1.jpg); /*Seeting the background image. You can change this by changing the link!*/ 
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0rem; /* see referance for how padding and margins apply */
  font-family: "Times New Roman", Times, serif; /*You can change the font here*/
}  

.main {
    background: rgb(27, 48, 47, 0.4); /* you can find the color combination online - google css color picker. The last value is the opacity */
    margin: 1rem; /* see referance for how padding and margins apply */
    padding: 2rem; /* see referance for how padding and margins apply */
    font-size: 1rem; /* rem is unit of measurement relative to font-size of the root element */
  }

.heading { /*top navigation bar*/
    overflow: hidden;
    padding: 0rem;
    margin: 0rem;
    background: rgb(104, 137, 150);  
}
  

/* for classes that we specify include a '.' before class name */
  .box1 {
    border: 2px solid white; /* px is unit of measurement in pixels */
    border-radius: 10px;
    padding: 0rem 2rem 1rem 2rem;
    margin-bottom: 2.5rem;
    color: white; /*text color*/
    background: rgb(46, 46, 46, 0.6);/* you can find the color combination online - google css color picker. The last value (0.6) is the opacity */
  }

  .box2 { 
    border: 1px solid white;
    border-radius: 15px;
    padding: 1rem;
    margin: 0rem 0rem 1rem 0rem;
    color: white;
    background-color: rgb(104, 137, 150);
  }

question {
  color: black;
  font-size: 1.75vw;
}

response {
  font-size: 1.75vw;
}

.name {
  color: white;
  margin: 1rem 2rem;
  float: left;
  font-size: 1.5vw;
}

.pId {
  color: white;
  margin: 1rem 2rem;
  float: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vw;
}

 h1 { 
   color: white;
   text-align: center;
   padding: 2rem ;
   margin: auto;
   width: 50%;
   font-family: "Times New Roman", Times, serif;
   font-size: 2vw;
}

h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 4vw;
  text-align: center;
}

h3 {
  color: white;
  font-size: 2.5vw;
}

h4 {
  color: rgb(104, 137, 150);
  font-size: 2.5vw;
  text-decoration: underline;
}

p1 { 
   color: white;
} 

p2 {
  color: white;
  font-size: 10px;
}

.left {
  margin: left;
  width: 35%;
}

.btn {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vw;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: rgb(104, 137, 150); /*you can change color by changing the HEX code*/
}

.btn:hover {
  box-shadow: 6px 8px #636363;
  cursor: pointer;
  font-weight: bold;
}


.imgmar1A {
  float: left;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.my1A {
  float: right;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

figcaption1 {
  background-color: rgb(104, 137, 150);
  color:white;
  padding: 2px;
  text-align: center;
  width: 300px;
  float: left;
}

figcaption2 {
  background-color: rgb(104, 137, 150);
  color:white;
  padding: 2px;
  text-align: center;
  width: 300px;
  float: right;
}

figcaption3 {
  background-color: rgb(104, 137, 150);
  color:white;
  padding: 2px;
  text-align: center;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgmar1B {
  float: left;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.my1B {
  float: right;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.top1C {
  float: left;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.bot1C {
  float: right;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.assemble {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 500px;
  border: 2px solid rgb(104, 137, 150);
}

.SWbase {
  float: left;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.SWscoop {
  float: left;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.Printbase {
  float: right;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}

.Printscoop {
  float: right;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(104, 137, 150);
}
